{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
<div class="ui hidden divider"></div>
<div class="ui one column grid banner">
    <img src="{{ asset('assets/shop/images/act.png') }}" alt="Banner" class="ui image" style="width: 100%; height: 100%;" />
</div>
<div class="ui hidden divider"></div>
<h2 class="ui horizontal section divider header">
    {{ 'sylius.ui.latest_products'|trans }}
</h2>
{{ render(url('sylius_shop_partial_product_index_latest', {'count': 8, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% endblock %}
