<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

            <!-- <div class="three wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">{{ 'sylius.ui.about'|trans }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
                <div class="ui inverted link list">
                    <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.faqs'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a>
                    <a href="#" class="item">{{ 'sylius.ui.returns_policy'|trans  }}</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">&copy; Jewelry</h4>
                <p>{{ 'sylius.ui.powered_by'|trans }} <a href="https://www.upwork.com/o/profiles/users/_~015cece1ecfaa14a9d/" target="_blank" style="color: #1abb9c;">iamchrisep</a>.</p>
            </div> -->

            <div class="eight wide column">
                <h4 class="ui inverted header">&copy; 2017 Jewelry</h4>
                <p>Дизайн и разработка <a href="https://www.upwork.com/o/profiles/users/_~015cece1ecfaa14a9d/" target="_blank" style="color: #999999;">iamchrisep</a>.</p>
                <p>Внимание! Данный проект является учебным. Все используемые изображения и текст в описании товаров принадлежат интернет-магазину <a href="https://kochut.org/" target="_blank" style="color: #999999;">Kochut</a>.</p>
            </div>

            {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
        </div>
    </div>
</footer>
