<!DOCTYPE html>

<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Jewelry{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}

        <style>
          body,
          .ui,
          .ui.card>.content>.header,
          .ui.cards>.card>.content>.header {
            font-family: 'Fira Sans', 'PT Sans', Arial, Helvetica, sans-serif!important;
          }
          .ui.inverted {
            background: #1A1C1E!important;
          }
          .ui.inverted.button.active,
          .ui.inverted.button:focus,
          .ui.inverted.button:hover {
            background: #FFFFFF!important;
          }
          .ui.card>.content>a.header:hover,
          .ui.cards>.card>.content>a.header:hover {
            color: #999999;
          }
          .ui.monster.header {
            font-size: 2.5em!important;
          }
          .ui.dividing.header {
            margin-top: 0.2em!important;
          }
          .ui.breadcrumb {
            margin-top: 2em!important;
          }
          .ui.menu,
          .ui.card,
          .ui.cards>.card,
          .ui.segment,
          .ui.segment[class*="bottom attached"],
          .ui.tabular.menu .active.item,
          .ui.tabular.menu+.attached:not(.top).segment,
          .ui.tabular.menu+.attached:not(.top).segment+.attached:not(.top).segment {
            box-shadow: 0 2px 5px 0 rgba(34,36,38,.15)!important;
            border: none!important;
          }
          .ui.text.menu {
            background: none!important;
            border-radius: 0!important;
            box-shadow: none!important;
            border: none!important;
            margin: 1em -.5em!important;
          }
          .ui.basic.segment {
            background: none!important;
            box-shadow: none!important;
            border: none!important;
            border-radius: 0!important;
          }
          .ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
            position: relative;
            padding-left: 3.5em!important;
            padding-right: 1em!important;
          }
          .ui.table [class*="single line"], .ui.table[class*="single line"] {
            white-space: normal!important;
          }
          .ui.header>.image+.content, .ui.header>img+.content {
            width: 80%!important;
          }
          .ui[class*="very basic"].table {
            line-height: 1.25!important;
          }
        </style>
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
</head>

<body class="pushable">
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}
<div class="pusher">
    {% block top %}
        <div id="menu" class="ui large sticky inverted stackable menu">
            {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

            {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
            {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>
    {% endblock %}

    <div class="ui container">
        {% block header %}
            <header>
                {% include '@SyliusShop/_header.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.layout.after_header') }}

                {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
            </header>
        {% endblock %}

        {% include '@SyliusUi/_flashes.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.layout.before_content') }}

        {% block content %}
        {% endblock %}

        {{ sonata_block_render_event('sylius.shop.layout.after_content') }}
    </div>

    {% block footer %}
        {% include '@SyliusShop/_footer.html.twig' %}
    {% endblock %}
</div>

{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sonata_block_render_event('sylius.shop.layout.after_body') }}
</body>
</html>
